@font-face {
	font-family: 'Clashgrotesk';
	src: url('/fonts/ClashGrotesk-Regular.woff2') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clashgrotesk';
	src: url('/fonts/ClashGrotesk-Medium.woff2') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clashdisplay';
	src: url('/fonts/ClashDisplay-Regular.woff2') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clashdisplay';
	src: url('/fonts/ClashDisplay-Medium.woff2') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.woff2') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Medium.woff2') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


/* css-normalize */
 *, *::before, *::after { box-sizing: border-box; }
:where(ul, ol):where([class]) { padding-left: 0; }
body, :where(blockquote, figure):where([class]) { margin: 0; }
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) { margin-block: 0; }
:where(dd[class]) { margin-left: 0; }
:where(fieldset[class]) { margin-left: 0; padding: 0; border: none; }
:where(ul[class]) { list-style: none; }
:where(address[class]) { font-style: normal; }
p { --paragraphMarginBottom: 24px; margin-block: 0; }
p:where(:not([class]):not(:last-child)) { margin-bottom: var(--paragraphMarginBottom); }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
img { display: block; max-width: 100%; }
input, textarea, select, button { font: inherit; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: sans-serif; }
html, :has(:target) { scroll-behavior: smooth; }
body { min-height: 100%; line-height: 120%; }
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }
svg * { transition-property: fill, stroke; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
@media (prefers-reduced-motion:reduce) {
* { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}


:root {
	--transparent: transparent;
	--white: white;
	--black: black;
	--dark: #222;
	--dark_2:#555;
	--dark_3:#9b9b9b;
	--grey_5:#e0e0e0;
	--white_stroke: #d6d6d6;
	--box_shadow: #d5d1c7;
	--beige_1: #e3d1ba;
	--beige_2: #ecdbc6;
	--beige_3: #f3e5d7;
	--beige_4: #f6f1e9;
	--beige_5: #f8f7f4;
	--gold_1: #b6904d;
	--gold_2: #d4ae6b;
	--gold_3: #eac671;
	--gold_4: #f5da85;
	--gold_5: #c6a975;
	--gold_6: #ceb588;
	--gold_7: #d6c19c;
	--gold_8: #dfceb0;
	--gold_dark: #b6904d;

	--border-radius-30: 30px;
	--golden-gradient: linear-gradient(120deg, #eac571, #bf9953);

	--font-family-base-lat: 'Clashgrotesk', sans-serif;
	--font-family-accent-lat: 'Clashdisplay', sans-serif;
	--font-family-base-cyr: 'Montserrat', sans-serif;

	--transition-btn-02: color .2s, border-color .2s, background-color .2s, transform .2s, opacity .2s, background-position .2s;
	--transition-btn-03: color .3s, border-color .3s, background-color .3s, transform .3s, opacity .3s, background-position .3s;
	--transition-btn-015: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

	--container-width: 1140px;
	--container-padding-x: 60px;

}

html.mod-touch * { background-attachment: scroll !important; }

body { color: var(--dark); background-color: var(--white); font-family: var(--font-family-base-lat); font-size: 14px; line-height: 120%; }
html:not(.mod-touch) body.modal-open { --scroll_width: 17px; overflow: hidden; padding-right: 17px; }
section { margin-top: 120px; max-width: 100%; overflow-x: clip; }
.container { max-width: calc(var(--container-width) + var(--container-padding-x) * 2); margin-inline: auto; padding-inline: var(--container-padding-x); position: relative; display: flex; flex-direction: column; gap: 40px; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: var(--font-family-accent-lat); font-weight: 500; line-height: 110%; margin: 0; }
h1, .h1 { font-size: 48px; color: var(--black); }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 20px; }
img { vertical-align: middle; max-width: 100%; height: auto; display: inline-block; }
.clip-mask { position: absolute; z-index: 0; }
.img-clip { position: relative; }
.img-clip .img-label { font-size: 1.1rem; background-color: rgba(255, 255, 255, .5); border-radius: 12px; padding: 12px 16px; position: absolute; bottom: 3%; -webkit-backdrop-filter: blur(6px); backdrop-filter: blur(6px); box-shadow: 0 5px 20px rgba(0, 0, 0, .1); }
a { color: var(--gold_dark); text-decoration: none; transition: var(--transition-btn-02); text-underline-position: from-font; }
a:focus-visible:not(.btn) { outline-offset: 0px; color: var(--gold_1); outline: 1px solid var(--gold_1); border-radius: 4px; }
a.btn:focus-visible, button:focus-visible { outline: 1px solid var(--gold_1); }
::selection { background: var(--beige_3); }


.text-right { text-align: right; }
.d-none { display: none !important; }
.d-block { display: block; }
.d-inline-block { max-width: 100%; display: inline-block; }
.d-hidden { display: none; }
.d-flex { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
.d-inline-flex { display: -webkit-inline-box !important; display: -ms-inline-flexbox !important; display: inline-flex !important; }
.flex-column { -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
.flex-row { flex-direction: row !important; }
.flex-wrap { flex-wrap: wrap; }
.align-items-start { align-items: flex-start !important; }
.align-items-end { align-items: flex-end !important; }
.align-items-center { align-items: center !important; }
.align-items-baseline { align-items: baseline !important; }
.align-items-stretch { align-items: stretch !important; }
.justify-content-start { justify-content: flex-start !important; }
.justify-content-end { justify-content: flex-end !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.justify-content-around { justify-content: space-around !important; }
.justify-content-evenly { justify-content: space-evenly !important; }
.col { flex: 1 0 0%; }
.col-2 { flex: 0 0 auto; width: 16.66666667%; }
.col-3 { flex: 0 0 auto; width: 25%; }
.col-4 { flex: 0 0 auto; width: 33.33333333%; }
.col-5 { flex: 0 0 auto; width: 41.66666667%; }
.col-6 { flex: 0 0 auto; width: 50%; }
.gap-20 { gap: 20px; }
.gap-30 { gap: 30px; }
.gap-40 { gap: 40px; }
.gap-50 { gap: 50px; }
.gap-60 { gap: 60px; }
.mt-1 { margin-top: 0.25rem; } /* 4px */
.mt-2 { margin-top: 0.5rem; } /* 8px */
.mt-3 { margin-top: 1rem; } /* 16px */
.mt-4 { margin-top: 1.5rem; } /* 24px */
.mt-5 { margin-top: 2rem; } /* 32px */
.mb-1 { margin-bottom: 0.25rem; } /* 4px */
.mb-2 { margin-bottom: 0.5rem; } /* 8px */
.mb-3 { margin-bottom: 1rem; } /* 16px */
.mb-4 { margin-bottom: 1.5rem; } /* 24px */
.mb-5 { margin-bottom: 2rem; } /* 32px */
.ml-1 { margin-left: 0.25rem; } /* 4px */
.ml-2 { margin-left: 0.5rem; } /* 8px */
.ml-3 { margin-left: 1rem; } /* 16px */
.ml-4 { margin-left: 1.5rem; } /* 24px */
.ml-5 { margin-left: 2rem; } /* 32px */
.mr-1 { margin-right: 0.25rem; } /* 4px */
.mr-2 { margin-right: 0.5rem; } /* 8px */
.mr-3 { margin-right: 1rem; } /* 16px */
.mr-4 { margin-right: 1.5rem; } /* 24px */
.mr-5 { margin-right: 2rem; } /* 32px */
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.dropdown { display: inline-block; position: relative; }
.dropdown_toggle, .dropdown_link { vertical-align: top; white-space: nowrap; text-decoration: none; position: relative; }
.dropdown_toggle { -webkit-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; display: inline-block; }
.dropdown_toggle.caret::after { content: ""; display: inline-block; width: 8px; height: 8px; margin: 0 0 1px 4px; background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 9"%3E%3Cpath stroke="%23222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1.5 1.455 6.5 6 6.5-6"/%3E%3C/svg%3E'); background-repeat: no-repeat; background-position: center; }
.dropdown_toggle:focus { outline: 0; }
.dropdown_body { min-width: 100%; position: absolute; top: 40px; right: 0; border-radius: 8px; background-color: rgba(33, 33, 33, .96); box-shadow: 0 2px 5px rgba(0, 0, 0, .2); z-index: 1; opacity: 0; max-height: 0; overflow: hidden; transform: translateY(-10px); transition: all 0.5s ease; }
body.scrolled .dropdown_body { top: 54px; }
.dropdown_body.open { opacity: 1; max-height: 9999px; transform: translateY(0); }

.accordion { display: flex; flex-flow: column; justify-content: flex-start; align-items: flex-start; gap: 6px; }
.collapse:not(.show) { display: none; }
.collapsing { height: 0; overflow: hidden; transition: height .5s ease; }
.accordion-toggle { display: flex; align-items: center; gap: 6px; padding: 8px 10px; font-family: var(--font-family-base-lat); cursor: pointer; }
.accordion-toggle h3 { transition: var(--transition-btn-03); }
.accordion-body { padding: 0 10px 10px; }
.accordion-body p { font-size: 14px; line-height: 120%; margin-bottom: 12px; }


.btn { display: inline-flex; align-self: start; gap: 6px; background-color: var(--dark); color: var(--white); border: none; cursor: pointer; border-radius: 30px; justify-content: center; align-items: center; padding: 8px 16px; font-family: var(--font-family-accent-lat); font-size: 16px; line-height: 100%; transition: var(--transition-btn-03); }
.btn:active { opacity: .8; transform: translate(0, 1px); }
.btn-gold { gap: 12px; letter-spacing: 1px; background-color: #c69e56; background-image: var(--golden-gradient); background-size: 150% 100%; background-position: 100%; padding: 16px 32px; box-shadow: inset 0 -2px rgba(0, 0, 0, .1); }
.btn-gold:hover { background-position: 0; }
.btn-gold:active { box-shadow: inset 0 -1px rgba(0, 0, 0, .05); }
.btn-beige-2 { background-color: var(--gold_7); }
.btn-beige-2:hover { background-color: var(--gold_6); }
.btn-beige-1 { background-color: var(--beige_4); color: var(--black); padding: 10px 16px; font-weight: 500; }
.btn-beige-1:hover { background-color: var(--beige_3); }
.btn-white { border: 1px solid var(--white); background-color: var(--white); color: var(--black); padding: 10px 16px; font-weight: 500; box-shadow: 0 6px 10px rgba(0, 0, 0, .05); }
.btn-white:hover { border-color: var(--dark); }
.btn-stroke { background: none; color: var(--dark); border: 1px solid var(--dark); box-shadow: 0 0 0 0.5px var(--dark); }
.btn-stroke:hover { background-color: var(--dark); color: var(--white); }
.btn-link { background: none; padding-inline: 0 !important; }

.btn-sm { padding: 6px 12px; gap: 4px; font-family: var(--font-family-base-lat); font-size: 0.9rem; line-height: 0.9rem; }
.btn-md { padding: 10px 16px; gap: 6px; font-size: 1rem; }


.icon-calendar { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M15.833 13.106a.72.72 0 0 1 .719.719V15.5l1.141.936a.719.719 0 0 1-.911 1.112l-1.405-1.151a.719.719 0 0 1-.263-.556v-2.016a.72.72 0 0 1 .72-.72Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M9.928 4.016h3.84c1.667 0 2.99 0 4.028.14 1.068.143 1.94.446 2.627 1.134.767.767 1.056 1.763 1.179 3.006a.719.719 0 1 1-1.431.14c-.11-1.117-.346-1.71-.764-2.13-.377-.375-.894-.604-1.803-.726-.93-.125-2.157-.127-3.89-.127H9.983c-1.732 0-2.959.002-3.889.127-.91.122-1.426.35-1.802.727-.376.376-.605.893-.727 1.802-.125.93-.126 2.157-.126 3.89v1.815c0 1.732.001 2.96.126 3.89.122.909.35 1.425.727 1.802.571.571 1.447.785 3.44.836a.719.719 0 1 1-.037 1.437c-1.951-.05-3.397-.235-4.42-1.257-.687-.688-.991-1.558-1.135-2.627C2 16.858 2 15.535 2 13.868v-1.924c0-1.666 0-2.99.14-4.027.143-1.068.447-1.94 1.134-2.627.688-.688 1.559-.991 2.628-1.135 1.036-.14 2.36-.14 4.026-.14Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M7.258 2.2a.72.72 0 0 1 .72.719H6.54c0-.397.321-.719.718-.719Zm0 .719H6.54V6.55a.719.719 0 0 0 1.437 0V2.919h-.719Zm9.18-.719a.72.72 0 0 1 .72.719V6.55a.719.719 0 1 1-1.438 0V2.919a.72.72 0 0 1 .719-.719Zm-13.48 7.982a.72.72 0 0 1 .72-.719h4.539a.719.719 0 1 1 0 1.438h-4.54a.719.719 0 0 1-.719-.719Zm12.876.719a4.729 4.729 0 1 0 0 9.458 4.729 4.729 0 0 0 0-9.458ZM9.667 15.63a6.166 6.166 0 1 1 12.333 0 6.166 6.166 0 0 1-12.333 0Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A"); }
.icon-certificate { background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 52 52"%3E%3Cpath fill="%23B6904D" d="M34.199 23.227a6.065 6.065 0 0 0-5.813 4.339.61.61 0 0 0 1.168.346 4.846 4.846 0 0 1 9.49 1.378 4.845 4.845 0 0 1-9.463 1.469.61.61 0 1 0-1.161.369 6.065 6.065 0 0 0 11.842-1.838 6.063 6.063 0 0 0-6.063-6.063Z"/%3E%3Cpath fill="%23B6904D" fill-rule="evenodd" d="M34.2 25.73a.787.787 0 0 0-.667.37l-.764 1.215-1.393.351a.787.787 0 0 0-.412 1.268l.92 1.103-.096 1.433a.788.788 0 0 0 1.078.783l1.333-.535 1.334.536a.787.787 0 0 0 1.078-.784l-.097-1.433.92-1.103a.787.787 0 0 0-.411-1.268l-1.393-.35-.764-1.217a.787.787 0 0 0-.667-.369Zm-.492 2.38.491-.78.491.78a.788.788 0 0 0 .474.345l.895.225-.591.708c-.116.125-.167.244-.182.558l.063.92-.857-.343a.787.787 0 0 0-.586 0l-.856.343.062-.92a.788.788 0 0 0-.182-.558l-.59-.708.894-.225a.788.788 0 0 0 .474-.345Z" clip-rule="evenodd"/%3E%3Cpath fill="%23B6904D" fill-rule="evenodd" d="M8.831 2.64c-.842 0-1.525.683-1.525 1.525v39.44c0 .843.683 1.526 1.525 1.526h3.894a.61.61 0 0 0 0-1.219H8.831a.306.306 0 0 1-.306-.306V4.165c0-.17.137-.306.306-.306H36.44c.169 0 .306.137.306.306v16.25l-1.298-1.503a1.65 1.65 0 0 0-2.497 0L31.578 20.5a.431.431 0 0 1-.424.138l-2.045-.479a1.648 1.648 0 0 0-.58-.031h-15.96a.61.61 0 1 0 0 1.218h14.57c-.024.09-.04.184-.049.28l-.177 2.093a.431.431 0 0 1-.035.14h-9.483a.61.61 0 0 0 0 1.218h6.995c-.68.49-.9 1.44-.446 2.192l.194.32h-11.57a.61.61 0 1 0 0 1.22h12.307l.156.258a.431.431 0 0 1 0 .445l-1.087 1.797a1.65 1.65 0 0 0 .772 2.375l1.935.815a.43.43 0 0 1 .262.36l.177 2.093a1.65 1.65 0 0 0 1.956 1.481v5.478H15.928a.61.61 0 1 0 0 1.219h13.115v3.16c0 .81.867 1.325 1.578.937l3.577-1.95 3.576 1.95a1.067 1.067 0 0 0 1.578-.937v-9.857a1.65 1.65 0 0 0 1.957-1.48l.177-2.094a.43.43 0 0 1 .262-.36l1.935-.815a1.65 1.65 0 0 0 .772-2.375l-1.087-1.797a.43.43 0 0 1 0-.446l1.087-1.797a1.65 1.65 0 0 0-.772-2.374l-1.935-.815a.432.432 0 0 1-.262-.36l-.177-2.093a1.65 1.65 0 0 0-2.02-1.468l-1.325.31V4.165c0-.842-.683-1.525-1.525-1.525H8.83Zm25.711 37.564a1.64 1.64 0 0 0 .906-.535l1.373-1.59a.43.43 0 0 1 .424-.137l.89.208v9.886l-3.425-1.868a1.067 1.067 0 0 0-1.022 0l-3.425 1.868V38.15l.891-.208a.42.42 0 0 1 .23.01.43.43 0 0 1 .194.128l1.373 1.589a1.647 1.647 0 0 0 1.591.535Zm2.504-3.489c.159-.01.32.004.477.04l2.045.479a.43.43 0 0 0 .527-.384l.177-2.092a1.65 1.65 0 0 1 1.004-1.382l1.935-.815a.431.431 0 0 0 .202-.62l-1.087-1.797a1.65 1.65 0 0 1 0-1.707l1.087-1.797a.43.43 0 0 0-.201-.62l-1.936-.816a1.65 1.65 0 0 1-1.004-1.38l-.177-2.094a.43.43 0 0 0-.527-.383l-2.045.479a1.65 1.65 0 0 1-1.624-.528l-1.373-1.59a.43.43 0 0 0-.653 0l-1.373 1.59a1.65 1.65 0 0 1-1.624.528l-2.045-.479a.431.431 0 0 0-.527.383l-.177 2.093a1.65 1.65 0 0 1-1.004 1.381l-1.936.816a.43.43 0 0 0-.201.62l1.087 1.797a1.65 1.65 0 0 1 0 1.707l-1.087 1.797a.431.431 0 0 0 .201.62l1.936.815a1.65 1.65 0 0 1 1.004 1.382l.177 2.092a.43.43 0 0 0 .527.384l.672-.157.012-.003 1.36-.319a1.66 1.66 0 0 1 .887.038c.286.093.541.262.738.49l1.373 1.589a.43.43 0 0 0 .652 0l1.373-1.589a1.65 1.65 0 0 1 1.148-.568Z" clip-rule="evenodd"/%3E%3Cpath fill="%23B6904D" d="M11.958 17.007a.61.61 0 0 1 .61-.61h20.135a.61.61 0 0 1 0 1.22H12.568a.61.61 0 0 1-.61-.61Zm0 7.463a.61.61 0 0 1 .61-.61h2.354a.61.61 0 0 1 0 1.218h-2.354a.61.61 0 0 1-.61-.609Zm1.067-17.202a1.067 1.067 0 0 0-1.067 1.067v3.433a1.067 1.067 0 0 0 1.067 1.067h19.22a1.067 1.067 0 0 0 1.068-1.067V8.335a1.067 1.067 0 0 0-1.068-1.067H19.959a.61.61 0 0 0 0 1.218h12.136v3.13H13.177v-3.13h3.576a.61.61 0 0 0 0-1.218h-3.728Z"/%3E%3Cpath fill="%23B6904D" fill-rule="evenodd" d="M20.35 36.016a3.53 3.53 0 1 0-5.904.066l-1.315.669a2.147 2.147 0 0 0-1.173 1.913v1.222a.913.913 0 0 0 .913.913h9.184a.913.913 0 0 0 .912-.913v-1.222a2.147 2.147 0 0 0-1.173-1.913l-1.443-.735Zm-5.012.98c.546.387 1.21.623 1.93.646a3.514 3.514 0 0 0 2.219-.698l1.754.893a.929.929 0 0 1 .508.827v.916h-8.572v-.916a.928.928 0 0 1 .507-.827l1.654-.842Zm.461-1.194a2.31 2.31 0 1 1 1.578.621h-.001a2.299 2.299 0 0 1-1.577-.621Z" clip-rule="evenodd"/%3E%3C/svg%3E%0A'); }
.icon-beauty-products { background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 52 52"%3E%3Cpath fill="%23B6904D" fill-rule="evenodd" d="M8.767 37.335a3.286 3.286 0 0 1-.567-1.969v-.009c0-.382.118-.867.316-1.403.195-.532.462-1.095.744-1.63a26.893 26.893 0 0 1 1.382-2.306.57.57 0 0 1 .905 0c.21.312.821 1.244 1.382 2.306.282.535.548 1.099.744 1.63.197.536.315 1.02.315 1.403v.009a3.286 3.286 0 0 1-2.19 3.22l-.163.057v1.77a.54.54 0 0 1-1.081 0v-1.77l-.163-.057a3.286 3.286 0 0 1-1.624-1.25Zm2.868-2.314v2.589l.399-.33a2.403 2.403 0 0 0 .873-1.927c0-.213-.059-.47-.147-.742a8.648 8.648 0 0 0-.365-.917 21.59 21.59 0 0 0-1.092-2.04l-.209-.348-.209.349a21.603 21.603 0 0 0-1.09 2.04c-.15.326-.277.638-.367.916-.088.273-.146.53-.146.742a2.406 2.406 0 0 0 .873 1.928l.399.33v-2.59a.54.54 0 0 1 1.081 0Zm13.63 7.952a3.03 3.03 0 0 1-.592-1.842v-.004c0-.346.117-.787.316-1.276.196-.485.465-.998.749-1.486a23.635 23.635 0 0 1 1.393-2.095.568.568 0 0 1 .872 0c.21.282.828 1.128 1.393 2.096.285.487.553 1 .75 1.486.198.489.315.93.315 1.276v.003a3.03 3.03 0 0 1-2.178 2.951l-.175.051v1.085a.54.54 0 0 1-1.082 0v-1.085l-.175-.052a3.03 3.03 0 0 1-1.586-1.108Zm2.843-1.677v1.784l.38-.254a2.013 2.013 0 0 0 .892-1.7c0-.195-.062-.43-.15-.672a7.386 7.386 0 0 0-.37-.818c-.3-.584-.697-1.234-1.09-1.822l-.203-.303-.203.303a19.399 19.399 0 0 0-1.09 1.822c-.15.291-.279.57-.37.818-.088.243-.15.477-.15.672a2.014 2.014 0 0 0 .893 1.7l.38.254v-1.784a.54.54 0 0 1 1.08 0Zm11.469-10.982V29.23l-.175-.05a3.031 3.031 0 0 1-2.178-2.951v-.004c0-.347.117-.787.315-1.276.197-.485.465-.999.75-1.486a23.677 23.677 0 0 1 1.393-2.096.57.57 0 0 1 .872 0c.21.282.828 1.128 1.393 2.096.284.487.553 1 .75 1.486.198.49.315.93.314 1.276v.003a3.03 3.03 0 0 1-2.178 2.951l-.175.051v1.085a.541.541 0 0 1-1.081 0Zm.743-7.404-.202-.303-.203.303a19.379 19.379 0 0 0-1.091 1.822c-.15.291-.278.57-.369.818-.088.243-.15.477-.15.672a2.013 2.013 0 0 0 .893 1.7l.379.254v-1.784a.54.54 0 1 1 1.081 0v1.784l.38-.254a2.012 2.012 0 0 0 .892-1.7c0-.195-.061-.43-.15-.672a7.396 7.396 0 0 0-.369-.818c-.3-.583-.697-1.234-1.09-1.822Z" clip-rule="evenodd"/%3E%3Cpath fill="%23B6904D" fill-rule="evenodd" d="m48.504 12.327-3.139 31.35v2.326a2.11 2.11 0 0 1-2.11 2.11h-25.1a2.09 2.09 0 0 1-.717-.135l-.086-.033-.087.033a2.053 2.053 0 0 1-.682.134H5.604a2.11 2.11 0 0 1-2.11-2.11V24.824a2.11 2.11 0 0 1 2.11-2.11h1.028V16.98a.54.54 0 0 1 .54-.54h1.029v-3.382a.54.54 0 0 1 .54-.54h1.813V9.675H8.742a.54.54 0 0 1-.541-.54V6.781a.54.54 0 0 1 .54-.54l8.63-.011c.116 0 .23.038.324.108l3.137 2.363a.542.542 0 0 1-.008.872.54.54 0 0 1-.316.102h-8.872v2.84h1.812a.54.54 0 0 1 .54.541v3.382h1.029a.54.54 0 0 1 .54.54v5.735h1.029a2.11 2.11 0 0 1 2.11 2.11v5.734h.53l.04-.196a3.643 3.643 0 0 1 1.973-2.56 11.203 11.203 0 0 0 3.104-2.084l.005-.005.484-.483a.541.541 0 0 1 .895.552l-.002.01c-.102.35-.06.727.115 1.047l.02.039.034.028a2.16 2.16 0 0 0 1.69.514h4.689c.223.002.446.025.665.067l.321.063-1.523-15.223a.54.54 0 0 1 .538-.595h15.69a.54.54 0 0 1 .54.595ZM17.127 46.002V35.805a1.028 1.028 0 0 1 1.028-1.028H36.98a1.028 1.028 0 0 1 1.028 1.028v10.198a1.028 1.028 0 0 1-1.028 1.028H18.15a1.013 1.013 0 0 1-.62-.228.994.994 0 0 1-.404-.8ZM9.282 7.322v1.272h9.61L17.19 7.313l-7.908.01Zm38.087 5.491H32.87l.285 2.841h13.929l.284-2.84ZM18.695 33.696H36.44v-2.057H18.695v2.057Zm3.028-4.932-.003.001a2.582 2.582 0 0 0-1.31 1.469l-.113.324H34.8l-.096-.315a2.543 2.543 0 0 0-.163-.404l-.003-.006-.003-.006a2.627 2.627 0 0 0-.899-.926.254.254 0 0 0-.052-.036 2.573 2.573 0 0 0-1.31-.363h-4.72l-.012.001a2.983 2.983 0 0 1-2.574-1.02 1.972 1.972 0 0 1-.176-.298l-.131-.276-.24.19a13.873 13.873 0 0 1-2.698 1.665ZM9.283 13.598v2.84h3.625v-2.84H9.282Zm-1.57 3.922v5.194h6.763V17.52H7.713Zm9.74 16.295.161-.058v-8.934a1.028 1.028 0 0 0-1.028-1.028H5.604a1.028 1.028 0 0 0-1.028 1.028v21.18a1.028 1.028 0 0 0 1.028 1.028h10.668l-.101-.318a2.726 2.726 0 0 1-.126-.715V35.806a2.128 2.128 0 0 1 1.408-1.99ZM38.969 46.71l-.109.322h4.396a1.028 1.028 0 0 0 1.028-1.028V44.19H39.09V46a2.31 2.31 0 0 1-.121.709Zm5.366-3.6 2.642-26.374H33.264l1.137 11.37.082.064a3.903 3.903 0 0 1 1.397 2.2l.044.189h1.057a.54.54 0 0 1 .54.54v2.657l.158.06a2.176 2.176 0 0 1 1.411 1.993v7.3h5.245Z" clip-rule="evenodd"/%3E%3Cpath fill="%23B6904D" d="M26.024 7.54c.085 1.364.392 2.38.758 2.38.367 0 .674-1.016.759-2.38 1.364-.084 2.379-.391 2.379-.758s-1.015-.674-2.38-.759c-.084-1.364-.39-2.379-.758-2.379-.367 0-.673 1.015-.758 2.38-1.364.084-2.38.39-2.38.758 0 .367 1.016.674 2.38.758Zm-7.086 11.792c0 .367 1.015.674 2.38.759.084 1.364.392 2.379.758 2.379s.674-1.015.758-2.38c1.364-.084 2.38-.39 2.38-.758 0-.367-1.015-.674-2.38-.758-.084-1.364-.391-2.38-.758-2.38s-.674 1.016-.759 2.38c-1.364.084-2.379.391-2.379.758ZM44.065 7.54c.085 1.364.393 2.38.759 2.38s.674-1.016.759-2.38c1.364-.084 2.379-.391 2.379-.758s-1.015-.674-2.38-.759c-.084-1.364-.391-2.379-.758-2.379s-.674 1.015-.759 2.38c-1.364.084-2.379.39-2.379.758 0 .367 1.015.674 2.38.758Z"/%3E%3C/svg%3E%0A'); }

.icon { display: inline-block; width: 1.25rem; height: 1.25rem;  background-size: contain; background-repeat: no-repeat; }
.btn-icon { display: flex; max-width: 20px; }
.btn-sm .btn-icon { width: 0.7rem; height: 0.7rem; }
.btn-md .btn-icon { max-width: 16px; }
.icon svg, .btn-icon svg { width: 100%; height: 100%; }
.icon-link-arrow-10 svg { width: 10px; height: 10px; }

[hover-tooltip] {
	--caret-height: 4px;
	--caret-width: 6px;
	--distance: 10px;
	--tooltip-bg-color: rgba(22, 22, 22, 0.85);
}
[hover-tooltip] { position: relative; }
[hover-tooltip]::before { content: attr(hover-tooltip); font-size: 14px; text-align: center; position: absolute; display: block; left: 50%; min-width: 150px; max-width: 200px; bottom: calc(100% + var(--distance)); transform: translate(-50%); background: var(--tooltip-bg-color); border-radius: 6px; padding: 10px 12px; color: #ffffff; z-index: 1; }
[hover-tooltip]::after { content: ""; position: absolute; display: block; left: 50%; width: 0; height: 0; bottom: calc(100% + (var(--distance) - var(--caret-height))); margin-left: calc(var(--caret-width) * -1); border: 1px solid black; border-color: var(--tooltip-bg-color) transparent transparent transparent; border-width: var(--caret-height) var(--caret-width) 0; z-index: 1; }
[hover-tooltip][tooltip-position=top-left]::before { right: auto; left: calc(var(--distance) * -1); transform: none; }
[hover-tooltip][tooltip-position=top-right]::before { right: calc(var(--distance) * -1); left: auto; transform: none; }
[hover-tooltip][tooltip-wrap=nowrap]::before { white-space: nowrap; min-width: auto; }
[hover-tooltip]::before, [hover-tooltip]::after { opacity: 0; visibility: hidden; transition: opacity .5s ease; }
[hover-tooltip]:hover::before, [hover-tooltip]:hover::after { visibility: visible; opacity: 1; }


html.fancy-ready body::-webkit-scrollbar { width: 17px; }
html.fancy-ready body::-webkit-scrollbar-track { background: rgba(24, 24, 27, 0.98) !important; }

.modal { display: none; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.6); position: fixed; inset: 0; padding: 60px 0; overflow: auto; z-index: 100; }
.modal.fade { transition: opacity .5s ease; }
.modal.fade:not(.show) { opacity: 0; }
.modal.show .modal-content { transform: translateY(20px); }
.modal .modal-content { width: 60%; max-width: 600px; position: relative; transition: transform 0.8s ease; }
.modal .close { position: absolute; top: -20px; right: -20px; color: var(--white); font-size: 36px; padding: 6px; outline: 1px solid; border-radius: var(--border-radius-30); transition: var(--transition-btn-02); }
.modal .close:hover, .close:focus { color: var(--gold_4); text-decoration: none; cursor: pointer; }


/* Page Header */
.header { position: sticky; top: -1px; z-index: 6; min-height: 84px; }
.header-content-wrp { justify-content: space-between; align-items: center; display: flex; border-radius: 10px; padding: 12px; -webkit-backdrop-filter: blur(12px); backdrop-filter: blur(12px); transition: background-color .3s ease, box-shadow .3s ease; }
.header-logo { width: 160px; }
.header-logo-img { object-fit: cover; flex: 0 auto; justify-content: center; align-items: center; width: 100%; height: auto; text-decoration: none; display: flex; transition: width 0.2s; }
.header.is-pinned .header-content-wrp { box-shadow: 0 4px 30px -6px rgba(0, 0, 0, 0.1); background: rgba(255, 255, 255, 0.65); }
.header.is-pinned .header-logo-img { width: 80%; }
.header .container { padding: 12px calc(var(--container-padding-x) - 20px) 0; }



/* Main Menu */
.header_menu { column-gap: 60px; justify-content: flex-start; align-items: center; text-decoration: none; display: flex; position: relative; }
.header_menu a { display: inline-block; }
.nav_item_text { margin-top: 0; margin-bottom: 0; line-height: 120%; text-decoration: none; }
.burger_menu { display: flex; flex-direction: column; gap: 5px; justify-content: center; align-items: flex-start; padding: 10px 6px; text-decoration: none; position: relative; width: 38px; }
.burger_menu span { display: block; background-color: var(--dark); border: 1.5px solid var(--dark); border-radius: 3px; width: 26px; height: 0px; transition: all .3s; }
.burger_menu span:nth-child(2) { width: 18px; }
.burger_menu span:nth-child(3) { width: 22px; }
.burger_menu:hover span:nth-child(2) { transform: translateX(8px); }
.burger_menu:hover span:nth-child(3) { transform: translateX(4px); }
.dropdown.open .burger_menu span { box-shadow: 0 0 0 0.2px var(--dark_3); border-color: var(--dark_3); background-color: var(--dark_3); width: 22px; }
.dropdown.open .burger_menu span:nth-child(1) { transform: rotate(45deg) translate(6px, 3px); width: 22px; }
.dropdown.open .burger_menu span:nth-child(3) { transform: rotate(-45deg) translate(6px, -3px); }
.dropdown.open .burger_menu span:nth-child(2) { opacity: 0; }

.main_nav { column-gap: 40px; row-gap: 40px; justify-content: space-between; align-items: center; margin-bottom: 0; padding-bottom: 0; padding-left: 0; display: flex; }
.main_nav .nav_list { display: flex; gap: 30px; }
.main_nav .nav_link { color: var(--dark); padding: 5px 10px; font-size: 18px; line-height: 20px; text-decoration: none; }
.main_nav .nav_link:hover { color: var(--dark_3); }
.main_nav .nav_link.active { font-weight: 500; position: relative; }
.main_nav .nav_link:focus-visible { outline-offset: 0px; color: var(--gold_1); border-radius: 4px; outline: 1px solid var(--gold_1); }
.main_nav .nav_link[data-wf-focus-visible] { outline-offset: 0px; color: var(--gold_dark); border-radius: 4px; outline: 2px solid var(--gold_dark); }

.full_menu { border-radius: 16px; }
.full_menu nav { inline-size: max-content; padding: 36px 46px; }
.full_menu nav .full_menu_list { display: inline-flex; flex-direction: column; flex-wrap: wrap; column-gap: 60px; row-gap: 16px; max-height: 400px; }
.full_menu .menu_link { border-left: 3px solid var(--transparent); color: var(--white); padding: 4px 8px; font-size: 20px; }
.full_menu .menu_link:hover { color: var(--gold_3); }
.full_menu .menu_link.active, .menu_link:focus { border-left-color: var(--gold_3); color: var(--gold_3); }
.full_menu .submenu { display: flex; flex-flow: column; gap: 4px; padding: 6px 0 10px 3px; }
.full_menu .submenu_link { color: var(--white); border-radius: 6px; padding: 4px 9px 4px 8px; font-family: Montserrat, sans-serif; font-size: 13px; font-weight: 300; }
.full_menu .submenu_link::before { content: '›'; margin-right: 6px; vertical-align: 0px; font-size: initial; line-height: 1; display: inline-block; }
.full_menu .submenu_link:hover { color: var(--gold_3); }
.full_menu .submenu_link.active, .submenu_link:focus { color: var(--gold_3); background-color: rgba(91, 74, 35, .5); }

/* Language Switcher */
.lang-switcher { position: relative; padding: 4px 0; }
.lang-switcher .dropdown_toggle { font-family: var(--font-family-base-lat); font-size: 16px; color: var(--dark); padding: 5px 9px 4px 14px; border: none; border-radius: var(--border-radius-30); background-color: rgba(0, 0, 0, .06); transition: var(--transition-btn-02); }
.lang-switcher .dropdown_toggle:hover { background-color: rgba(0, 0, 0, .12); }
.lang-switcher .lang_list { padding: 6px; }
.lang_item { display: block !important; color: #fff; border-radius: 4px; padding: 6px 12px; font-family: var(--font-family-base-cyr); font-size: 14px; line-height: 100%; transition: var(--transition-btn-03); }
.lang_item:hover { background-color: rgba(255, 255, 255, .1); }
.lang_item.active { color: var(--dark_3); text-align: center; cursor: default; font-weight: 600; }
.lang_item.active:hover { background-color: var(--transparent); }


/* [SECTION] Hero */
.hero { margin-top: 0; padding-top: 40px; }
.hero .hero-content-wrp { justify-content: center; align-items: center; }
.hero .hero-text-wrp { z-index: 1; column-gap: 30px; row-gap: 30px; width: 60%; margin-right: -200px; position: relative; }
.hero h1 { font-size: 48px; font-weight: 400; line-height: 120%; }
.hero .subtitle { max-width: 80%; font-size: 18px; line-height: 120%; }
.hero .hero-img-wrp { width: 50%; margin-left: auto; position: relative; }

.bg-decor { position: absolute; inset: 0; }
.bg-spot { filter: blur(100px); background-color: #f9e4d5; border-radius: 500px; width: 90%; height: 90%; position: absolute; top: -12%; bottom: auto; left: auto; right: 0%; }
.hero .star-decor { width: 10%; height: auto; position: absolute; top: -1%; left: 15%; color: var(--gold_3); }
.hero .star-decor.item-2 { width: 7%; height: auto; top: -6.8%; left: 25%; }
.hero .star-decor.item-3 { width: 6%; height: auto; top: 4.5%; left: auto; right: -1%; }
.hero .star-decor.item-4 { width: 7%; height: auto; top: auto; bottom: 3%; left: auto; right: 4.5%; }
.hero .star-decor.item-5 { width: 6%; height: auto; top: auto; bottom: 0%; left: auto; right: 14%; }
.hero .style-outline { color: var(--beige_1); }
.hero .hero-img-outline { position: absolute; inset: 0; width: 100%; height: 100%; transform: scale(1.08) translateX(12px); }
.hero .hero-img-path { opacity: .5; color: var(--beige_1); }

.ticker-container { margin-top: 60px; }
.ticker-container .phrase-container { display: flex; gap: 40px; justify-content: flex-start; align-items: center; }
.ticker-container .ticker-item { display: flex; gap: 40px; animation: scroll 15s linear infinite; will-change: transform; color: var(--grey_5); white-space: nowrap; -webkit-user-select: none; -ms-user-select: none; user-select: none; justify-content: center; align-items: center; font-family: var(--font-family-accent-lat); font-size: 86px; line-height: 100%; }
.ticker-container .highlight { color: var(--gold_3); }
.ticker-container .star-icon { color: var(--gold_3); width: 42px; }

@keyframes scroll {
from { transform: translateX(0); }
to { transform: translateX(calc(-100% - 40px)); }
}



/* section-header */
.section-header { display: flex; align-items: center; justify-content: space-between; }
.section-header .section-title-wrp { display: flex; align-items: center; column-gap: 20px; }
.section-header .section-title { display: flex; align-items: center; gap: 16px; font-family: var(--font-family-accent-lat); font-size: 16px; letter-spacing: 2px; color: var(--gold_7); }
.section-header .section-title:before { content: ''; display: block; background-color: var(--beige_1); width: 120px; height: .8px; }
.section-header .navigation-wrp { display: flex; align-items: center; gap: 50px; }
.section-header .navigation-wrp .sw-pagination { height: 8px; text-align: right; padding-right: 5px; transform: translateX(0) !important; }
.section-header .navigation-wrp .sw-pagination .swiper-pagination-bullet { background-color: #727272; }
.section-header .navigation-wrp .sw-pagination .swiper-pagination-bullet-active { background-color: var(--gold_7); }
.section-header .navigation-wrp .sw-pagination .bullet.sm { width: 5px; height: 5px; }
.section-header .navigation-wrp .arrows-control { display: flex; flex-flow: row; justify-content: center; align-items: center; gap: 6px; }
.section-header .navigation-wrp .arrows-control .swiper-arrow { display: flex; align-items: center; width: 36px; height: 36px; border: none; border-radius: 30px; padding: 0; color: var(--white); background-color: var(--gold_7); }
.section-header .navigation-wrp .arrows-control .swiper-arrow.sw-button-prev svg { transform: rotate(-180deg); }
.section-header .navigation-wrp .arrows-control .swiper-arrow.sw-button-next { padding-right: 2px; }
.section-header .navigation-wrp .arrows-control .swiper-arrow.swiper-button-disabled { opacity: 0.5; }
.section-header .navigation-wrp .arrows-control .swiper-arrow.swiper-button-disabled.swiper-button-lock { display: none; }


/* [SECTION] About Us */
.about-us-module .img-slider { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.about-us-module .img-slider .img-clip { clip-path: url(#mask2); width: 100%; aspect-ratio: 1.1; }
.about-us-module .img-slider .img-clip > div { background-size: cover; background-position: center; position: absolute; inset: 0; transition: opacity .35s ease-in-out; }
.about-us-module .img-slider .img-clip .current-img { opacity: 1; z-index: 1; }
.about-us-module .img-slider .img-clip .next-img { opacity: 0; z-index: 2; }
.about-us-module .img-slider .img-clip .fade-in { opacity: 1; }
.about-us-module .swiper-container { clip-path: url(#mask2); width: 100%; aspect-ratio: 1.1; }
.about-us-module .swiper-slide { display: flex; justify-content: center; align-items: center; background-size: cover; background-position: center; }
.about-us-module .slider-control { justify-content: space-between; align-items: stretch; align-self: stretch; margin-top: -28px; padding-left: 30px; gap: 10px; position: relative; }
.about-us-module .slider-buttons { display: flex; gap: 6px; flex: 0 auto; }
.about-us-module .slider-buttons .slider-btn { display: flex; align-items: center; justify-content: center; width: 42px; height: 42px; color: var(--beige_1); background: var(--white); border: 2px solid var(--beige_1); border-radius: 100px; cursor: pointer; transition: var(--transition-btn-02); }
.about-us-module .slider-buttons .slider-btn:hover { border-color: var(--gold_7); color: var(--gold_7); }
.about-us-module .slider-buttons .slider-btn:active { opacity: .64; transform: translate(0, 1px); }
.about-us-module .slider-buttons .slider-btn.prev { transform: rotate(180deg); }
.about-us-module .slider-control .slide-title { display: none; -webkit-backdrop-filter: blur(6px); backdrop-filter: blur(6px); color: var(--white); text-shadow: 0 1px 2px var(--gold_dark); background-color: rgba(182, 144, 77, .6); border-radius: 30px; justify-content: center; align-items: center; padding-left: 16px; padding-right: 16px; font-weight: 500; line-height: 100%; text-align: center; }
.about-us-module .h2 { margin-left: -50px; position: relative; }
.about-us-module .text-block { margin-top: 10px; font-size: 16px; line-height: 120%; }
.about-us-module .text-block p { margin-bottom: 10px; }
.about-us-module .benefits_toggle { display: flex; gap: 20px 30px; flex-wrap: wrap; margin-top: 10px; margin-left: auto; }
.about-us-module .benefits_toggle .toggle_item { display: flex; align-items: center; justify-content: flex-start; gap: 8px; font-size: 14px; font-weight: 500; line-height: 110%; cursor: pointer; user-select: none; transition: color .5s; }
.about-us-module .benefits_toggle .toggle_item .slide-thumb { width: 90px; background-size: 100%; background-position: center; border-radius: 60px; aspect-ratio: 2; overflow: hidden; position: relative; transition: background-size .5s; }
.about-us-module .benefits_toggle .toggle_item .slide-thumb::after { content: ''; position: absolute; inset: 0; background: rgba(255, 221, 150, 0.4); opacity: 0; transition: opacity .5s; }
.about-us-module .benefits_toggle .toggle_item .benefit_text { max-width: 106px;}
.about-us-module .benefits_toggle .toggle_item:hover { color: var(--dark_3); }
.about-us-module .benefits_toggle .toggle_item:hover .slide-thumb::after { opacity: 0.4; }
.about-us-module .benefits_toggle .toggle_item.active { color: var(--gold_dark); }
.about-us-module .benefits_toggle .toggle_item.active .slide-thumb { background-size: 120%; }
.about-us-module .benefits_toggle .toggle_item.active .slide-thumb::after { opacity: 1; }


/* [SECTION] Services Module */
.services-module .accordion-item .icon-chevron { width: 12px; transition: transform 0.35s; }
.services-module .accordion-item.show .accordion-toggle { color: var(--gold_1); }
.services-module .accordion-item.show .icon-chevron { transform: rotate(-180deg); }
.services-module .service-img { clip-path:url(#mask3); width: 100%; aspect-ratio: 1.25; position: relative;}
.services-module .service-img > div { background-size: cover; background-position: center; position: absolute; inset: 0; transition: opacity .5s ease-in-out; }
.services-module .service-img .current-img { opacity: 1; z-index: 1; }
.services-module .service-img .next-img {  opacity: 0; z-index: 2; }
.services-module .service-img .fade-in { opacity: 1; }
.services-module .service-price { font-size: 1.1rem; background-color: rgba(255, 255, 255, .6); border-radius: 30px; padding: 12px 20px; position: absolute; bottom: 0; right: 3%; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); box-shadow: 0 5px 20px rgba(0, 0, 0, .1); }
.services-module .ripple-bg { transform: scale(2) translate(0, 10px); }
.services-module .bg-spot { width: 100%; height: 100%; top: -5px; transform: scale(1.3); background-color: rgba(244, 227, 199, .5); }

/* [SECTION] Equipment Module */
.equipment-module .swiper-slide .h3 { font-size: 16px; font-weight: 500; margin-top: 10px; margin-bottom: 6px; }
.equipment-module .swiper-slide .text { font-size: 14px; }
.equipment-module .swiper-slide .img { border-top-left-radius: 30px; border-top-right-radius: 30px; }

/* swiper-carousel */
.headline-wrp { z-index: 3; max-width: 300px; }
.headline-wrp .headline-text.text-right { justify-content: flex-start; align-items: flex-end; }
.swiper-carousel .swiper { width: calc(100% - 350px); overflow: visible; }
.swiper-carousel .swiper::before { content: ''; position: absolute; left: -120%; top: 0; right: calc(100% + 50px); bottom: 0; background: #fff; box-shadow: 10px 0px 25px 30px #fff; z-index: 2; }
.swiper-carousel .swiper .swiper-slide { width: calc(100% / 2.4); }


/* [SECTION] Special Offer */
.special-offer { background-color: #f8f4f2; justify-content: center; align-items: center; padding-top: 40px; padding-bottom: 40px; }
.special-offer .img-clip { text-align: center; }
.special-offer .img-clip img { width: 80%; }
.special-offer h3 { padding: 10% 5% 0 10%; }


/* [SECTION] Reviews Module */
.reviews-module .swiper .bg-decor .bg-spot { width: 200px; height: 100px; }
.reviews-module .swiper .bg-decor .bg-spot.blue { background: #bdd3ff; top: -10%; left: 20%; }
.reviews-module .swiper .bg-decor .bg-spot.yellow { background: #ffe185; top: auto; bottom: -10%; left: auto; right: -20%; }
.reviews-module.swiper-carousel .swiper .swiper-slide { width: calc(100% / 1.6); }

.g_star_rating, .g_star_rating span { --star_width: 16px; --star_height: 12.2px; --star_spacing: 3px; display: block; height: var(--star_height); width: calc(var(--star_width) * 5 - var(--star_spacing)); background-size: var(--star_width) var(--star_height); background-repeat: repeat-x; overflow: hidden; position: relative; }
.g_star_rating { background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 18"%3E%3Cpath fill="%23F3EDDF" d="M9.061.297a.543.543 0 0 1 .969 0l2.531 5.07a.54.54 0 0 0 .406.293l5.661.813c.443.063.62.601.3.91L14.83 11.33a.53.53 0 0 0-.155.472l.967 5.573c.076.436-.387.768-.783.563l-5.063-2.632a.546.546 0 0 0-.503 0L4.23 17.938c-.396.205-.859-.127-.783-.563l.967-5.573a.53.53 0 0 0-.155-.472L.164 7.383a.532.532 0 0 1 .299-.91l5.66-.813a.54.54 0 0 0 .407-.292L9.06.298Z"/%3E%3C/svg%3E%0A'); }
.g_star_rating span { background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 18"%3E%3Cpath fill="%23EAC671" d="M9.061.297a.543.543 0 0 1 .969 0l2.531 5.07a.54.54 0 0 0 .406.293l5.661.813c.443.063.62.601.3.91L14.83 11.33a.53.53 0 0 0-.155.472l.967 5.573c.076.436-.387.768-.783.563l-5.063-2.632a.546.546 0 0 0-.503 0L4.23 17.938c-.396.205-.859-.127-.783-.563l.967-5.573a.53.53 0 0 0-.155-.472L.164 7.383a.532.532 0 0 1 .299-.91l5.66-.813a.54.54 0 0 0 .407-.292L9.06.298Z"/%3E%3C/svg%3E%0A'); }
.g_star_rating.four_star span { width: calc((var(--star_width) * 4) - var(--star_spacing)); }
.g_star_rating.three_star span { width: calc((var(--star_width) * 3) - var(--star_spacing)); }
.g_star_rating.two_star span { width: calc((var(--star_width) * 2) - var(--star_spacing)); }
.g_star_rating.one_star span { width: calc((var(--star_width) * 1) - var(--star_spacing)); }
.g_star_rating.star_rating_unspecified { background: none; }
.g_star_rating.star_rating_unspecified span { filter: grayscale(1); opacity: 0.25; }

.google-reviews-widget { display: flex; align-items: center; column-gap: 12px; background-color: #fff; border: 1px solid #ebebeb; border-radius: 60px; margin-top: 16px; padding: 18px 24px 18px 20px; box-shadow: 0 5px 25px rgba(0, 0, 0, .08); }
.google-reviews-widget .google-logo { display: flex; object-fit: cover; width: 38px; height: 38px; }
.google-reviews-widget .average-rating-wrp { display: flex; flex-direction: column; row-gap: 4px; }
.google-reviews-widget .average-rating { column-gap: 8px; flex: 0 auto; justify-content: flex-start; align-items: center; line-height: 120%; text-decoration: none; display: flex; }
.google-reviews-widget .average-rating .score { font-weight: 500; }
.google-reviews-widget .divider { width: 1px; height: 14px; background-color: var(--white_stroke); }
.google-reviews-widget .g_star_rating { margin-top: -2px; }
.google-reviews-widget .g_star_rating, .google-reviews-widget .g_star_rating span { --star_width: 22px; --star_height: 17px; --star_spacing: 5px; }
.google-reviews-widget .total-review-count { color: var(--dark_2); font-size: 14px; font-weight: 400; line-height: 130%; text-align: left; }
.google-reviews-widget .total-review-count a { color: var(--dark_2); margin-left: 1px; font-weight: 500; text-decoration: underline; }
.google-reviews-widget .total-review-count a:hover { color: var(--gold_2); }

.reviews-module.swiper-carousel .swiper-wrapper { align-items: center; }
.reviews-module .swiper-slide:nth-child(odd) { transform: translateY(10px); }
.reviews-module .swiper-slide:nth-child(even) { transform: translateY(-10px); }

.review_item { display: flex; flex-direction: column; justify-content: flex-start; gap: 20px; background-color: #fff; border-radius: 30px; padding: 20px; box-shadow: 0 8px 24px rgba(41, 38, 33, 0.08), 0 0 1px rgba(46, 37, 37, .1); }
.review_item .r_body { display: flex; gap: 12px; flex-direction: column; }
.review_item .r_head { display: flex; justify-content: space-between; align-items: center; gap: 20px; width: 100%; }
.review_item .r_head .r_date { color: var(--dark_3); font-size: 13px; line-height: 100%; }
.review_item .r_text { font-family: var(--font-family-base-cyr); font-size: 14px; line-height: 130%; font-weight: 400; transition: height .3s ease; }
.review_item.show_translated .r_text .original_trunc,
.review_item.show_original .r_text .translated_trunc,
.review_item .r_text .full_text { display: none; }
.review_item .r_text .read-more { color: var(--gold_1); cursor: pointer; transition: var(--transition-btn-02); }
.review_item .r_text .read-more:hover { color: var(--gold_6); }
.review_item .r_meta { display: flex; justify-content: space-between; align-items: center; width: 100%; text-decoration: none; }
.review_item .r_meta .r_author { display: flex; align-items: center; gap: 10px; }
.review_item .r_meta .r_author_img { object-fit: cover; border-radius: 30px; width: 36px; height: 36px; }
.review_item .r_meta .r_author_name { font-size: 15px; font-weight: 500; line-height: 120%; }
.review_item .r_meta .r_source { color: var(--dark_3); font-size: 14px; line-height: 120%; }

.translate_review { display: flex; color: var(--gold_8); border: 1px solid var(--gold_8); border-radius: 30px; padding: 7.2px; transition: var(--transition-btn-03); cursor: pointer; }
.translate_review:hover { border-color: var(--gold_1); color: var(--gold_1); }
.show_translated .translate_review { border-color: var(--grey_5); color: var(--grey_5);}
.show_translated .translate_review:hover { border-color: var(--dark_3); color: var(--dark_3); }

.modal-body .review_item .r_text .full_text { display: block; }
.modal-body .review_item .r_text .original_trunc,
.modal-body .review_item .r_text .translated_trunc,
.modal-body .review_item.show_original .r_text .translated.full_text,
.modal-body .review_item.show_translated .r_text .original.full_text,
.modal-body .review_item .r_text .read-more { display: none; }
.modal-body .review_item { gap: 40px; padding: 36px 30px; }
.modal-body .review_item .g_star_rating, .modal-body .review_item .g_star_rating span { --star_width: 20px; --star_height: 16px; --star_spacing: 4px; }
.modal-body .review_item .r_head .r_date { font-size: 16px; }
.modal-body .review_item .r_body { gap: 24px; }
.modal-body .review_item .r_text { font-size: 16px; font-weight: 500; }


/* [SECTION] Founder Module */
.founder-widget .text-block { font-size: 16px; line-height: 120%; }
.founder-module .bio-highlights .col { display: flex; flex-direction: column; gap: 6px; }
.founder-module .bio-highlights .icon { width: 48px; height: 48px; color: var(--gold_1); }
.founder-module .bio-highlights h3 { font-family: var(--font-family-base-lat); font-size: 14px; font-weight: 500; }
.founder-module .bio-highlights p { font-size: 14px; }
.founder-module .img-label { gap: 8px; font-size: 12px; font-weight: 500; line-height: 120%; text-transform: uppercase; bottom: -4%; left: 4%; padding-top: 14px; }
.founder-module .img-label .fz-large { font-size: 36px; font-weight: 400; }
.founder-module .text-block p { font-size: 16px; line-height: 120%; }


/* [SECTION] Certificates Module */
.certificates-module.swiper-carousel .swiper { width: 100%; }
.certificates-module.swiper-carousel .swiper::before { display: none; }
.certificates-module.swiper-carousel .swiper .swiper-slide { width: calc(100% / 4.6); width: auto; }
.certificates-module.swiper-carousel .swiper .swiper-slide img { max-height: 160px; border-radius: 1px; box-shadow: 0 20px 16px -16px var(--box_shadow); transition: transform .6s ease; }
.certificates-module.swiper-carousel .swiper .swiper-slide img:hover { transform: scale(1.05) translateY(-2px); }


/* [SECTION] Professional Consultation */
.consultation-promo { padding-top: 30px; }
.consultation-promo .big-logo { position: absolute; top: -30px; width: 75%; left: 50%; transform: translateX(-50%); z-index: -1;}
.consultation-promo .big-logo svg { min-width: 100%; color: #E4DCCA; }
.consultation-promo h2 { font-size: 24px; }


/* [SECTION] Contact module + Location */
.contact-module { padding-top: 90px; overflow: hidden; position: relative; }
.contact-module .contact-block { align-self: flex-end; background-color: var(--white); padding: 40px 30px 0; border-radius: 30px 120px 0 0; box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
.contact-module .contact-block .section { display: flex; flex-direction: column; gap: 4px; }
.contact-module .contact-block .h2 { font-size: 26px; padding-right: 40px; }
.contact-module .contact-block .h3 { font-size: 16px; font-weight: 500; margin-bottom: 6px; }
.contact-module .contact-block p { margin: 0; }
.contact-module .contact-block .exterior-views { display: flex; gap: 15px; }
.contact-module .contact-block .exterior-views img { border-radius: 8px; aspect-ratio: 1; transition: all .5s ease; }
.contact-module .contact-block .exterior-views img:hover { transform: scale(1.03) translateY(-3px); box-shadow: 0 20px 16px -16px var(--box_shadow); }
.contact-module #map { position: absolute; inset: 0; bottom: -20px; z-index: -1; background: #e9e9e9; }


/* [SECTION] News Module */
.news-module.swiper-carousel .swiper { width: 100%; /* overflow: hidden; */ }
/* .news-module.swiper-carousel .swiper::after { content: ''; position: absolute; right: -120%; top: 0; left: calc(100% + 50px); bottom: 0; background: #fff; box-shadow: -10px 0px 25px 30px #fff; z-index: 2; } */
.news-module.swiper-carousel .swiper .swiper-slide { /* width: calc(100% / 4 - 30px * 3 / 4); */ width: calc(100% / 3.8); }
.news-module .news-item { display: flex; flex-direction: column; gap: 12px; }
.news-module .news-item .news-img { aspect-ratio: 14 / 11; object-fit: cover; border-radius: 8px;}
.news-module .news-item .news-body .date { font-size: 13px; color: var(--dark_3); }
.news-module .news-item .news-body h3 { font-size: 15px; margin: 6px 0;}
.news-module .news-item .news-body .text { font-size: 14px; line-height: 120%; }
.news-module .news-item .btn-link { color: var(--gold_dark); text-transform: uppercase; font-size: 14px; font-weight: 500; }
.news-module .news-item .btn-link:hover { color: var(--gold_6); }


/* [SECTION] Photo Gallery */
/* .photo-gallery { overflow: visible } */
.photo-gallery .container { padding-bottom: 40px; }
.photo-gallery .gallery-row { display: flex; flex-wrap: nowrap; gap: 20px; overflow: visible; }
.photo-gallery .gallery-row a { flex-shrink: 0; transition: all .5s ease; }
.photo-gallery .gallery-row img { width: 200px; height: 200px; border-radius: 12px; object-fit: cover; aspect-ratio: 1; }
.photo-gallery .gallery-row a:hover { transform: scale(1.03) translateY(-3px); box-shadow: 0 20px 16px -16px var(--box_shadow); z-index: 10; }

.photo-gallery .gallery-row.line-1 { animation-name: cross-scroll-right; margin-bottom: 20px;}
.photo-gallery .gallery-row.line-2 { animation-name: cross-scroll-left; }
.photo-gallery .gallery-row { animation-timeline: view(); animation-range: 0 cover; animation-duration: auto; animation-timing-function: linear; }

@keyframes cross-scroll-right {
from { transform: translateX(-20%); }
to { transform: translateX(0%); }
}
@keyframes cross-scroll-left {
from { transform: translateX(0%); }
to { transform: translateX(-20%); }
}




/* [SECTION] FAQ Module */
.faq-module .img-arch img { border-radius: 50% 50% 0 0; }
.faq-module .faq-descr { margin-top: 20px; font-size: 15px; line-height: 120%; }
.faq-module .accordion { align-items: stretch; gap: 0; }
.faq-module .accordion-item:not(:last-child) { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.faq-module .accordion-toggle { padding: 16px 0; gap: 20px; justify-content: space-between; }
.faq-module .accordion-toggle h3 { font-family: var(--font-family-base-lat); font-size: 22px; }
.faq-module .accordion-toggle .icon-plus { flex-shrink: 0; width: 32px; height: 32px;  }
.faq-module .accordion-toggle .icon-plus svg path { transition: all .3s; }
.faq-module .accordion-item.show .accordion-toggle .icon-plus .ver { opacity: 0; }
.faq-module .accordion-item.show .accordion-toggle, .faq-module .accordion-toggle:hover { color: var(--gold_1); }
.faq-module .accordion-body { padding: 0 0 20px; }
.faq-module .accordion-body p { font-size: 16px; line-height: 130%; }
.faq-module .accordion-body p:where(:not([class]):not(:last-child)) { margin-bottom: 12px; }



/* [SECTION] Instagram Feed */
.instagram-feed .section-header { flex-direction: column; justify-content: space-between; align-items: flex-start; }
.instagram-feed .gallery { display: flex; flex-wrap: wrap; gap: 24px; justify-content: flex-end; }
.instagram-feed .gallery img { width: 140px; height: 140px; border-radius: 12px; object-fit: cover; aspect-ratio: 1; box-shadow: 0 20px 16px -16px var(--box_shadow); transition: all .5s ease; }
.instagram-feed .gallery a:nth-child(1) img { transform: rotate(2.53deg); }
.instagram-feed .gallery a:nth-child(2) img { transform: rotate(-3.39deg); }
.instagram-feed .gallery a:nth-child(3) img { transform: rotate(1.3deg); }
.instagram-feed .gallery a:nth-child(4) img { transform: rotate(-5.91deg); }
.instagram-feed .gallery a:nth-child(5) img { transform: rotate(2.87deg); }
.instagram-feed .gallery a:nth-child(6) img { transform: rotate(-2.68deg); }
.instagram-feed .gallery a:nth-child(7) img { transform: rotate(1.43deg); }
.instagram-feed .gallery a:nth-child(8) img { transform: rotate(-3.09deg); }
.instagram-feed .gallery a:hover img { transform: rotate(0) scale(1.05); }
.instagram-feed .gallery a:nth-child(7),
.instagram-feed .gallery a:nth-child(8) { display: none; }
.instagram-feed .info-block .h3 { display: flex; gap: 6px; align-items: center; font-size: 20px; font-weight: 500; }
.instagram-feed .info-block .h3 .icon { width: 32px; height: 32px; }
.instagram-feed .info-block .btn { font-family: var(--font-family-base-lat); font-size: 18px; }
.instagram-feed .info-block .btn .btn-icon { max-width: 15px; }
/* .instagram-feed .info-block .btn:hover { background-color: var(--gold_1); } */


/* Page Footer */
.footer { margin-top: 120px; padding-bottom: 30px; font-size: 13px; }
.footer .footer-wrp { background: var(--beige_4); padding: 30px 40px; border-radius: 20px; gap: 60px; justify-content: space-between; }
/* .footer .legal-wrp { flex-shrink: 1; } */
.footer .footer-logo { color: var(--gold_5); }
.footer .footer-logo svg { max-width: 160px; transition: transform .5s;}
.footer .footer-logo:hover svg { transform: scale(1.05); }
.footer .legal-info { margin-top: 20px; }
.footer .legal-info p { margin-bottom: 6px; }
.footer .legal-info .copyright { margin-bottom: 16px; }
.footer .social-media { display: flex; gap: 16px; }
.footer .social-media a { color: var(--gold_5); }
.footer .social-media a:hover { color: var(--gold_dark); transform: scale(1.1); }
.footer .social-media .icon { width: 24px; height: 24px; }
.footer .h3 { font-size: 20px; margin: 16px 0 24px; }	
.footer .footer_menu_list { display: inline-flex; flex-direction: column; flex-wrap: wrap; column-gap: 60px; row-gap: 12px; max-height: 160px; }
.footer .footer_menu_list li a { color: var(--dark); padding: 2px 0; }
.footer .footer_menu_list li a:hover { color: var(--gold_dark); }
.footer .contact-block { gap: 12px; }
.footer .contact-block .c-title { width: 120px; color: var(--dark_3); flex-shrink: 0; }










@media screen and (min-width:1280px) {
	.btn-md { font-size: 1.2rem; }

	section, .footer { margin-top: 150px; }
	.container { --container-width: 1240px; gap: 60px; }
	.hero h1 { font-size: 4.2vw; }
	.hero .subtitle { font-size: 20px; }
	.hero .btn { margin-top: 30px; }
	h2, .h2 { font-size: 42px; }
	h3, .h3 { font-size: 24px; }
	.section-header .section-title { font-size: 18px; }
	.about-us-module .text-block { font-size: 18px; }
	.about-us-module .benefits_toggle { gap: 30px 80px; }
	.about-us-module .benefits_toggle .toggle_item { font-size: 16px }
	.about-us-module .benefits_toggle .toggle_item .slide-thumb { width: 100px; }
	.about-us-module .benefits_toggle .toggle_item .benefit_text { max-width: 120px; }

	.accordion { gap: 10px; }
	.accordion-body p { font-size: 15px; }

	.swiper-carousel .swiper .swiper-slide { width: calc(100% / 3.2); }
	.equipment-module .swiper-slide .h3 { font-size: 18px; }
	.equipment-module .swiper-slide .text { font-size: 15px; }
	
	.reviews-module.swiper-carousel .swiper .swiper-slide { width: calc(100% / 2.2); }
	.review_item .r_text { font-size: 15px; }

	.modal .modal-content { max-width: 640px; }
	.modal-body .review_item .r_text { font-size: 18px; }

	.founder-module .img-label { left: 8%; bottom: 0; }
	.founder-module .text-block p { font-size: 18px; }
	.founder-module .bio-highlights h3 { font-size: 16px; }
	.founder-module .bio-highlights p { font-size: 15px; }

	.certificates-module.swiper-carousel .swiper .swiper-slide img { max-height: 170px; }

	.contact-module .contact-block .h3 { font-size: 18px; }
	.contact-module .contact-block p { font-size: 16px; }
	.contact-module .contact-block { gap: 24px; }

	.photo-gallery .container { padding-bottom: 60px; } 
	.photo-gallery .gallery-row { gap: 24px; }
	.photo-gallery .gallery-row img { width: 240px; height: 240px; border-radius: 20px;  }
	.photo-gallery .gallery-row.line-1 { margin-bottom: 24px; }

	.faq-module .accordion-toggle h3 { font-size: 24px; }
	.faq-module .accordion-body p { font-size: 18px; }
	.faq-module .accordion-body p:where(:not([class]):not(:last-child)) { margin-bottom: 16px; }

	.instagram-feed .gallery { gap: 30px; }
	.instagram-feed .gallery img { width: 160px; height: 160px; border-radius: 20px; }
	.instagram-feed .gallery a:nth-child(7),
	.instagram-feed .gallery a:nth-child(8) { display: block; }

	.footer { font-size: 14px; }
}

@media screen and (min-width:1440px) {
	/* .hero h1 { font-size: 4.2vw; } */
	h2, .h2 { font-size: 3vw; }
}

/*******************/
/* Here main style */
/*******************/

@media screen and (max-width:991px) {
	h2 { font-size: 32px; }
	.equipment-module .swiper { width: calc(100% - 250px); }
	/* .equipment-module .headline-wrp { width: 200px; } */
	/* .equipment-module .swiper-slide { width: calc(100% / 2.4); } */
	
	.about-us-module .slider-control .slide-title { display: flex; }


	.reviews-module.swiper-carousel .swiper .swiper-slide { width: calc(100% / 1.2); }

}

@media screen and (max-width:767px) {
	
	.reviews-module.swiper-carousel .swiper .swiper-slide { width: calc(100% / 0.8); }

	.main_nav {
		flex-direction: column;
		padding-bottom: 30px;
		padding-left: 0;
	}

	.nav_link {
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	.slider-controls {
		padding: 0;
	}

}

@media screen and (max-width:479px) {
	.main_nav {
		flex-direction: column;
	}

}